<main class="edit__main">
  <a href="/server/{{id}}">Go back to server</a>

  <h1>Editing {{name}}</h1>
  <form class="edit__form">
    <label for="name">Name</label>
    <input type="text" name="name" value="{{name}}" autocomplete="off" />

    <label for="description">Description</label>
    <textarea name="description" autocomplete="off">{{description}}</textarea>

    <button id="edit__update-button">Save</button>
  </form>
</main>