<main class="landing__main">
  <nav class="landing__nav">
    <a href="/" class="title"><strong>Nexus</strong></a>
    <ul>
      <li><a href="/login">Login</a></li>
    </ul>
  </nav>
  <h1><strong>Get Instant Communication & Collaboration</strong></h1>
  <p>Work and communicate with others efficiently.</p>
  <a class="signupBtn" href="/signup">Sign up now</a>
</main>