<h1>Landing page.</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quos,
  placeat est eligendi ex modi adipisci quam illo omnis veritatis, sequi minima
  laudantium. Asperiores inventore obcaecati fuga, corporis nemo iste?</p>
<a href="/signup">Sign Up</a>
<a href="/login">Log In</a>