<main class="landing__main">
  <nav class="landing__nav">
    <a href="/"><strong>Nexus</strong></a>
    <ul>
      <li><a href="/signup">Signup</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </nav>
  <h1><strong>Nexus</strong></h1>
  <p>An online chat application.</p>
</main>