<h1>Signup page.</h1>
<form>
  <label for="email">Email:</label>
  <input type="email" name="email" />

  <label for="username">Username:</label>
  <input type="text" name="username" />

  <label for="password">Password:</label>
  <input type="password" name="password" />

  <button id="signupButton">Signup</button>
</form>
<script src="/public/js/signup.js"></script>