<main class="signup__main">
  <nav class="signup__nav">
    <a href="/">Nexus</a>
    <ul>
      <li><a href="/signup">Signup</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </nav>
  <h1>Signup</h1>
  <form>
    <label for="email">Email</label>
    <input type="email" name="email" />

    <label for="username">Username</label>
    <input type="text" name="username" />

    <label for="password">Password</label>
    <input type="password" name="password" />

    <button id="signup__button">Signup</button>
  </form>
</main>