#toast__background {
  display: flex;
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  z-index: 20;
  backdrop-filter: blur(2.5px);
  width: 100vw;
  height: 100vh;
}

#toast__box {
  display: flex;
  position: fixed;
  bottom: 80%;
  row-gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.25s ease-out;
  border: 1px solid var(--text-negative);
  border-radius: 5px;
  background-color: var(--background-primary);
  padding: 1rem;
  width: 45rem;
  min-height: 7.5rem;
}

#toast__message {
  font-size: 1.25rem;
}

#toast__close-button {
  align-self: flex-end;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
}

.toast--active {
  transform: translateY(40%);
}
