<h1>Login page.</h1>
<form>
  <label for="username">Username:</label>
  <input type="text" name="username" />

  <label for="password">Password:</label>
  <input type="password" name="password" />

  <button id="loginButton">Login</button>
</form>
<script src="/public/js/login.js"></script>